body {
  width: 100%;
  height: 100%;
}

.btn {
  cursor: pointer;
}

.header {
  background-color: #fff;
  height: 64px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
@media (min-width: 1024px) {
  .header__wrapper {
    justify-content: normal;
  }
}
@media (min-width: 1024px) {
  .header__nav {
    display: flex;
  }
}
.header__lang {
  margin-left: auto;
}
.header__sign-up {
  margin-left: auto;
  padding: 16px 24px;
  border-radius: 38px;
  background-color: #f5e341;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1em;
}
.header__sign-up:hover {
  background: rgb(250, 226, 26);
}
.header__sign-up:active {
  background: rgb(234, 203, 19);
}
@media (min-width: 768px) {
  .header__sign-up {
    margin-left: 8px;
  }
}
.header__login {
  padding: 14px 21.5px;
  border-radius: 38px;
  border: 1px solid #c1c1c1;
  color: black;
  background-color: #fff;
  font-family: "Inter";
  font-size: 1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header__login:hover {
  border: 1px solid #0c0c0c;
}
.header__login:active {
  border: 0;
  background: rgb(237, 237, 238);
  border: 1px solid rgb(237, 237, 238);
}
@media (min-width: 320px) {
  .header__login {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__login {
    display: flex;
    margin-left: auto;
  }
}
@media (min-width: 1024px) {
  .header__login {
    margin-left: 30px;
  }
}
.header__logo {
  font-size: 3em;
}
.header__burger {
  background-image: url("../img/bg-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 16px;
  margin-left: 15px;
}
@media (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}

.open .nav__item:hover {
  background: rgb(255, 255, 255);
  border-radius: 27px;
  padding: 0 0;
  border-radius: 0;
}
.open .nav__item:active {
  background: rgb(255, 255, 255);
  border-top: 27px;
  padding: 0 0;
  border-radius: 0;
}
.open .nav__link:hover {
  background: rgb(255, 255, 255);
  border-radius: 27px;
  color: rgb(21, 21, 31);
}
.open .nav__menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 345px;
  height: 422px;
  background: #ffffff;
  z-index: 6;
  border-radius: 12px;
}
@media (min-width: 768px) {
  .open .nav__menu {
    width: 437px;
    height: 471px;
  }
}
.open .language {
  padding: 1px 6px;
}
.open .language:hover {
  border-radius: 23px;
  background: rgb(237, 237, 238);
  padding: 1px 6px;
  border: 1px solid #c1c1c1;
  border-radius: 12px;
  margin: 0;
}
.open .language:active {
  border-radius: 23px;
  background: rgb(237, 237, 238);
  padding: 1px 6px;
  border: 1px solid #c1c1c1;
  border-radius: 12px;
  margin: 0;
}
.open .sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  right: 15px;
}
.open .section {
  height: 100%;
  width: 100%;
  background: #7a7a7a;
  z-index: 2;
}
.open .header__burger {
  background-image: url(../img/close.svg);
  height: 24px;
  width: 24px;
}

.language {
  padding: 10px 10px;
  background: rgb(255, 255, 255);
  border: none;
  color: rgb(21, 21, 31);
  font-family: "Inter";
  font-size: 1em;
  font-weight: 600;
  margin-left: auto;
}
.language:hover {
  border-radius: 23px;
  background: rgb(237, 237, 238);
  padding: 10px 10px;
}
.language:active {
  border-radius: 23px;
  background: rgb(237, 237, 238);
  padding: 10px 10px;
}
@media (min-width: 1024px) {
  .language {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.lang-w {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1em;
}

.nav {
  margin-left: 40px;
  padding: 10px 12px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1em;
  color: #7a7a7a;
  text-decoration: none;
}
.nav__item:hover {
  background: rgb(255, 255, 255);
  border-radius: 27px;
  padding: 0px 0px;
}
.nav__link:hover {
  background: rgb(245, 227, 65);
  padding: 10px 12px;
  border-radius: 27px;
  color: rgb(21, 21, 31);
}
.nav__link:active {
  background: rgb(234, 203, 19);
  padding: 10px 12px;
  border-radius: 27px;
}
.nav__list {
  display: flex;
  align-items: center;
}
@media (min-width: 320px) {
  .nav {
    display: none;
  }
}

.dropdown {
  display: none;
}
@media (min-width: 1024px) {
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 131px;
    z-index: 1;
    border: 1px solid rgb(224, 225, 226);
    border-radius: 8px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
}
@media (min-width: 1024px) {
  .dropdown {
    margin-left: auto;
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.sidebar {
  display: none;
}
.sidebar .nav {
  margin: 0;
}
.sidebar .nav__link {
  padding-left: 24px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1em;
  color: #7a7a7a;
  text-decoration: none;
}
.sidebar .nav__list {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.sidebar .nav__item {
  border-bottom: 1px solid #e0e1e2;
  width: 345px;
  line-height: 52px;
  height: 52px;
}
@media (min-width: 768px) {
  .sidebar .nav__item {
    width: 437px;
    line-height: 64px;
    height: 64px;
  }
}
.sidebar .button {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}
@media (min-width: 768px) {
  .sidebar .button {
    flex-direction: row-reverse;
    gap: 8px;
    align-items: center;
  }
}
.sidebar .dropdown {
  display: flex;
}
.sidebar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 310px;
  z-index: 1;
  border: 1px solid rgb(224, 225, 226);
  border-radius: 8px;
}
.sidebar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.sidebar .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.sidebar .language {
  display: flex;
  border-radius: 12px;
  border: 1px solid #c1c1c1;
  margin: 0;
  gap: 255px;
  align-items: center;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .sidebar .language {
    gap: 310px;
  }
}
.sidebar .header__sign-up {
  font-family: "Inter";
  font-weight: 600;
  font-size: 1em;
  padding: 16px 100px;
  background: #f5e341;
  border-radius: 38px;
}
@media (min-width: 768px) {
  .sidebar .header__sign-up {
    padding: 20px 63px;
    margin: 0;
  }
}
.sidebar .header__nav {
  display: flex;
}
.sidebar .header__login {
  display: block;
  padding: 16px 130px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1em;
  border: 1px solid #c1c1c1;
  border-radius: 38px;
  margin: 0;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .sidebar .header__login {
    padding: 20px 54px;
    margin: 0;
  }
}
.sidebar .arrow {
  margin-left: auto;
}

.section {
  display: flex;
  justify-content: center;
}

.item {
  background: url(../img/cup1.svg) center bottom/contain no-repeat, radial-gradient(29.75% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.2236) 100%), radial-gradient(33.62% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.2838) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.2) 0%, rgba(0, 0, 0, 0.086) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.73) 0%, rgba(0, 0, 0, 0.3139) 100%), radial-gradient(40.36% 95.9% at 50% 70.37%, #ff8642 0%, rgba(0, 0, 0, 0.43) 100%), #0e0e0e;
  width: 359px;
  height: 732px;
  border-radius: 24px;
  border-radius: 24px;
  margin-top: 8px;
}
.item__title {
  color: #ffffff;
  font-weight: 800;
}
@media (min-width: 320px) {
  .item__title {
    font-size: 1.875em;
    line-height: 36px;
    margin: 24px 10px 0px 24px;
    z-index: 2;
  }
}
@media (min-width: 768px) {
  .item__title {
    font-size: 3em;
    margin-left: 64px;
    margin-top: 56px;
    line-height: 54px;
  }
}
@media (min-width: 1024px) {
  .item__title {
    width: 545px;
    height: 108px;
  }
}
@media (min-width: 1440px) {
  .item__title {
    margin-top: 136px;
    margin-left: 109px;
  }
}
.item__text {
  color: #e0e1e2;
  font-weight: 500;
}
@media (min-width: 320px) {
  .item__text {
    font-size: 0.9375em;
    line-height: 25px;
    letter-spacing: -0.015em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    margin: 8px 73px 32px 24px;
    z-index: 3;
  }
}
@media (min-width: 768px) {
  .item__text {
    font-size: 1.125em;
    margin-left: 64px;
    width: 429px;
    height: 84px;
  }
}
@media (min-width: 1440px) {
  .item__text {
    margin-left: 109px;
  }
}
@media (min-width: 320px) {
  .item__btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .item__btn {
    justify-content: flex-start;
    gap: 15px;
    margin-left: 64px;
  }
}
@media (min-width: 1440px) {
  .item__btn {
    margin-left: 109px;
  }
}
.item__info {
  position: relative;
  left: 5px;
  top: 186px;
  text-align: center;
}
@media only screen and (min-width: 344px) {
  .item__info {
    top: 179px;
  }
}
@media only screen and (min-width: 349px) {
  .item__info {
    top: 244px;
  }
}
@media only screen and (min-width: 359px) {
  .item__info {
    top: 265px;
  }
}
@media (min-width: 768px) {
  .item__info {
    top: 410px;
    left: 21px;
  }
}
@media (min-width: 1024px) {
  .item__info {
    top: 424px;
    left: 13px;
  }
}
@media (min-width: 1440px) {
  .item__info {
    top: 0px;
    left: 281px;
  }
}
@media (min-width: 768px) {
  .item {
    width: 728px;
    height: 1016px;
    background: url(../img/cup2.svg) center bottom/contain no-repeat, radial-gradient(29.75% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.2236) 100%), radial-gradient(33.62% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.2838) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.2) 0%, rgba(0, 0, 0, 0.086) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.73) 0%, rgba(0, 0, 0, 0.3139) 100%), radial-gradient(40.36% 95.9% at 50% 70.37%, #ff8642 0%, rgba(0, 0, 0, 0.43) 100%), #0e0e0e;
  }
}
@media (min-width: 1024px) {
  .item {
    width: 1008px;
    height: 1016px;
    background: url(../img/cup3.svg) center bottom/contain no-repeat, radial-gradient(29.75% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.2236) 100%), radial-gradient(33.62% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.2838) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.2) 0%, rgba(0, 0, 0, 0.086) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.73) 0%, rgba(0, 0, 0, 0.3139) 100%), radial-gradient(40.36% 95.9% at 50% 70.37%, #ff8642 0%, rgba(0, 0, 0, 0.43) 100%), #0e0e0e;
  }
}
@media (min-width: 1440px) {
  .item {
    width: 1416px;
    height: 700px;
    background: url(../img/cup4.svg) right bottom/contain no-repeat, radial-gradient(29.75% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.2236) 100%), radial-gradient(33.62% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.2838) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.2) 0%, rgba(0, 0, 0, 0.086) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.73) 0%, rgba(0, 0, 0, 0.3139) 100%), radial-gradient(40.36% 95.9% at 50% 70.37%, #ff8642 0%, rgba(0, 0, 0, 0.43) 100%), #0e0e0e;
  }
}

.text {
  font-family: "Inter";
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
@media (min-width: 320px) {
  .container {
    padding: 0 16px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 24px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 25px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 120px;
    margin: 0 auto;
    max-width: 1440px;
  }
}

.google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 68.5px;
  gap: 8px;
  background: #ffffff;
  border: 1px solid #e0e1e2;
  border-radius: 38px;
  font-family: "Inter";
  font-size: 0.875em;
  font-weight: 600;
  color: rgb(21, 21, 31);
  margin-top: 8px;
}
@media (min-width: 320px) {
  .google-img {
    height: 24px;
    width: 24px;
  }
}
@media (min-width: 768px) {
  .google-img {
    height: 32px;
    width: 32px;
  }
}
@media (min-width: 768px) {
  .google {
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 38px;
    margin-top: 0px;
  }
}

@media (min-width: 320px) {
  .start {
    font-family: "Inter";
    font-weight: 600;
    font-size: 0.875em;
    letter-spacing: -0.015em;
    color: rgb(21, 21, 31);
    background: #f5e341;
    border-radius: 38px;
    padding: 15.5px 116.3px;
  }
}
@media (min-width: 768px) {
  .start {
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 38px;
  }
}

@media (min-width: 320px) {
  .numbers {
    font-family: "Inter";
    font-weight: 800;
    font-size: 1.3684875em;
    color: #ffffff;
    letter-spacing: -0.015em;
  }
}
@media (min-width: 768px) {
  .numbers {
    font-size: 2.54508125em;
  }
}

@media (min-width: 320px) {
  .wiews {
    font-family: "Inter";
    font-weight: 600;
    font-size: 0.84664875em;
    color: rgba(255, 255, 255, 0.9);
  }
}
@media (min-width: 768px) {
  .wiews {
    font-size: 1.574275em;
  }
}

/* ----------- */
/*# sourceMappingURL=main.css.map */
