@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
  background-color: #ffffff;
}

/* header */

.header {
  background-color: #126c7263;
  display: flex;
  justify-content: space-between;
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 7px 15px;
}

.button__header {
  font-family: "Inter";
  color: #15151f;
  text-decoration: none;
  border-radius: 38px;
}

.sign-up {
  background-color: rgba(245, 227, 65, 1);
}

.login {
  border-radius: 38px;
}

.sign-up:hover {
  background-color: #f3e568;
}

.login:hover {
  background-color: #ececec;
}

.language {
  font-family: "Inter";
}

.header__link {
  font-family: "Inter";
  text-decoration: none;
  color: rgba(122, 122, 122, 1);
}

.item {
  background: radial-gradient(
        29.75% 70.68% at 73.76% 95.59%,
        rgba(255, 235, 51, 0.52) 0%,
        rgba(0, 0, 0, 0.2236) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        33.62% 79.88% at 51.09% 86.4%,
        rgba(255, 134, 66, 0.66) 0%,
        rgba(0, 0, 0, 0.2838) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        30.14% 71.61% at 68.54% 94.66%,
        rgba(106, 103, 218, 0.2) 0%,
        rgba(0, 0, 0, 0.086) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        29.17% 69.32% at 31.85% 96.96%,
        rgba(97, 71, 255, 0.73) 0%,
        rgba(0, 0, 0, 0.3139) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
      40.36% 95.9% at 50% 70.37%,
      #ff8642 0%,
      rgba(0, 0, 0, 0.43) 100%
    ),
    #0e0e0e;
}

.text {
  font-family: "Inter";
}

.item__title {
  color: white;
}

.button {
  color: #15151f;
  text-decoration: none;
  border-radius: 38px;
}

.button__start {
  font-family: "Inter";
  text-align: left;
  background-color: rgba(245, 227, 65, 1);
}

.button__google {
  font-family: "Inter";
  text-align: left;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(224, 225, 226, 1);
}

.button__start:hover {
  background-color: rgb(241, 227, 98);
}

.button__google:hover {
  background-color: rgb(226, 230, 230);
}

@media screen and (min-width: 375px) {
  .language {
    display: none;
  }

  .logo {
    width: 85px;
    height: 35px;
  }

  .nav__menu {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .language {
    display: none;
  }

  .login {
    display: none;
  }

  .open .login:hover {
    background: #c1c1c1;
  }

  .burger {
    width: 23px;
    height: 18px;
    cursor: pointer;
    background: url(../img/bg-menu.svg) no-repeat center;
    margin-right: 3px;
  }

  .sign-up {
    font-weight: 600;
    padding: 12px 24px;
    margin-right: 15px;
  }

  .open .burger {
    background: url(../img/close.svg) no-repeat center;
  }

  .background__nav {
    display: none;
  }

  .open .header__nav {
    z-index: 5;
    transition: transform 0.2s;
    display: flex;
  }

  .open .header__item {
    display: block;
    border-bottom: 1px solid #e0e1e2;
    line-height: 42px;
    width: 345px;
    height: 42px;
    transition: transform 0.2s;
    background: rgba(255, 255, 255, 1);
  }

  .open .nav_menu {
    width: 345px;
    height: 422px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    z-index: 2;
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: absolute;
    top: 62px;
  }

  .open .header__language {
    display: flex;
    z-index: 3;
    margin-top: 13px;
    margin-bottom: 22px;
  }

  .open .language {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    border: 1px solid #c1c1c1;
    border-radius: 12px;
    padding: 13.5px 189px 13.5px 15px;
    display: flex;
  }

  .header__button {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .open .sign-up {
    padding: 15px 96px;
    margin: 0 0;
  }

  .open .login {
    padding: 14px 123px;
    background: #ffffff;
    border: 1px solid #c1c1c1;
    display: block;
    margin-top: 8px;
  }

  .header__list {
    padding: 0 0;
  }

  .header__link {
    padding-left: 24px;
    font-weight: 600;
    font-size: 15px;
  }

  .open2 {
    background: rgba(10, 10, 22, 0.49);
    z-index: 1;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    width: 359px;
    height: 732px;
    border-radius: 24px;
    margin-top: 8px;
  }

  /* ================= */

  .item__title {
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;

    padding: 24px 27px 0px 24px;
  }

  .item__text {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.015em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    width: 262px;
    height: 75px;
    padding: 8px 73px 32px 24px;
  }

  .item__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button__start {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.015em;
    padding: 16px 116.94px 16px 116.93px;
  }

  .button__google {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.015em;
    padding: 11px 71.4px 11px 71.4px;
    margin-top: 8px;
  }

  .google__logo {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 8px;
  }
}
