$color-text-primary: black;
$color-text-secondary: rgba(21, 21, 31, 1);
$color-text-tertiary: #7a7a7a;
$background-color-primary: #fff;
$background-color-secondary: #f1f1f1;
$font-family_1: "Inter";

@mixin phone { 
  @media (min-width: 320px) {
    @content; 
  } 
}


@mixin tablet { 
  @media (min-width: 768px) {
    @content; 
  } 
}

@mixin laptop { 
  @media (min-width: 1024px) {
    @content; 
	} 
}

@mixin  desktop { 
  @media (min-width: 1440px) {
    @content; 
  } 
}



body {
  width: 100%;
  height: 100%;
}

.btn {
  cursor: pointer;
}

.header { 
  background-color: $background-color-primary; 
  height: 64px; 

  &__wrapper { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%; 

  @include laptop {
      justify-content: normal;
    }
  }

	&__nav {
    @include laptop {
      display: flex;
    }
  }
	
  &__lang {
    margin-left: auto;
  }

  &__sign-up {
    margin-left: auto;
    padding: 16px 24px;
    border-radius: 38px;
    background-color: #f5e341;
    font-family: $font-family_1;
    font-weight: 600;
    font-size: 1em;

    &:hover {
      background: rgba(250, 226, 26, 1);
    }
    &:active {
      background: rgba(234, 203, 19, 1);
    }

    @include tablet {
      margin-left: 8px;
    }
  }

  &__login {
    padding: 14px 21.5px;
    border-radius: 38px;
    border: 1px solid #c1c1c1;
    color: $color-text-primary;
    background-color: $background-color-primary;
    font-family: $font-family_1;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 30px;

    &:hover {
      border: 1px solid #0c0c0c;
    }
    &:active {
      border: 0;
      background: rgba(237, 237, 238, 1);
      border: 1px solid rgba(237, 237, 238, 1);
    }
    @include phone {
      display: none;
    }

    @include tablet {
      display: flex;
      margin-left: auto;
    }

    @include laptop {
      margin-left: 30px;
    }
  }

  &__logo {
    font-size: 3em;
  }

  &__burger {
    background-image: url("../img/bg-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 16px;
    margin-left: 15px;

    @include laptop {
      display: none;
    }
  }
}

.open {
  .nav {
    &__item {
      &:hover {
        background: rgb(255, 255, 255);
        border-radius: 27px;
        padding: 0 0;
        border-radius: 0;
      }
      &:active {
        background: rgb(255, 255, 255);
        border-top: 27px;
        padding: 0 0;
        border-radius: 0;
      }
    }
    &__link {
      &:hover {
        background: rgb(255, 255, 255);
        border-radius: 27px;
        color: $color-text-secondary;
      }
    }

    &__menu {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 345px;
      height: 422px;
      background: #ffffff;
      z-index: 6;
      border-radius: 12px;

      @include tablet {
        width: 437px;
        height: 471px;
      }
    }
  }
  .language {
    padding: 1px 6px;
    &:hover {
      border-radius: 23px;
      background: rgba(237, 237, 238, 1);
      padding: 1px 6px;
      border: 1px solid #c1c1c1;
      border-radius: 12px;
      margin: 0;
    }
    &:active {
      border-radius: 23px;
      background: rgba(237, 237, 238, 1);
      padding: 1px 6px;
      border: 1px solid #c1c1c1;
      border-radius: 12px;
      margin: 0;
    }
  }

  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 15px;
  }

  .section {
    height: 100%;
    width: 100%;
    background: #7a7a7a;
    z-index: 2;
  }

  .header {
    &__burger {
      background-image: url(../img/close.svg);
      height: 24px;
      width: 24px;
    }
  }
}

.language {
  padding: 10px 10px;
  background: rgba(255, 255, 255, 1);
  border: none;
  color: $color-text-secondary;
  font-family: $font-family_1;
  font-size: 1em;
  font-weight: 600;
  margin-left: auto;

  &:hover {
    border-radius: 23px;
    background: rgba(237, 237, 238, 1);
    padding: 10px 10px;
  }
  &:active {
    border-radius: 23px;
    background: rgba(237, 237, 238, 1);
    padding: 10px 10px;
  }

  @include laptop {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
.lang-w {
  font-family: $font-family_1;
  font-weight: 500;
  font-size: 1em;
}

.nav {
  margin-left: 40px;
  padding: 10px 0px;
  font-family: $font-family_1;
  font-weight: 600;
  font-size: 1em;
  color: $color-text-tertiary;
  text-decoration: none;

  &__item {
    &:hover {
      background: rgb(255, 255, 255);
      border-radius: 27px;
      padding: 0px 0px;
    }
  }

  &__link {
    text-decoration: none;
    color: #7a7a7a;
    padding: 10px 12px;
    border-radius: 27px;

    &:hover {
      background: rgba(245, 227, 65, 1);
      padding: 10px 12px;
      border-radius: 27px;
      color: $color-text-secondary;
    }

    &:active {
      background: rgba(234, 203, 19, 1);
      padding: 10px 12px;
      border-radius: 27px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  @include phone {
    display: none;
  }

  @include laptop {
    display: flex;
  }
}

.dropdown {
  display: none;

  &-content {
    @include laptop {
      display: none;
      position: absolute;
      background-color: $background-color-primary;
      width: 131px;
      z-index: 1;
      border: 1px solid rgba(224, 225, 226, 1);
      border-radius: 8px;
      a {
        color: $color-text-primary;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
          background-color: $background-color-secondary;
        }
      }
    }
  }

  @include laptop {
    margin-left: auto;
    position: relative;
    display: inline-block;
    &:hover {
      .dropdown-content {
        display: block;
      }
    }
  }
}

.sidebar {
  display: none;
  .nav {
    margin: 0;

    &__link {
      padding-left: 24px;
      font-family: $font-family_1;
      font-weight: 600;
      font-size: 1em;
      color: $color-text-tertiary;
      text-decoration: none;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &__item {
      border-bottom: 1px solid #e0e1e2;
      width: 345px;
      line-height: 52px;
      height: 52px;

      @include tablet {
        width: 437px;
        line-height: 64px;
        height: 64px;
      }
    }
  }

  .button {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;

    @include tablet {
      flex-direction: row-reverse;
      gap: 8px;
      align-items: center;
    }
  }

  .dropdown {
    display: flex;

    &-content {
      display: none;
      position: absolute;
      background-color: $background-color-primary;
      width: 310px;
      z-index: 1;
      border: 1px solid rgba(224, 225, 226, 1);
      border-radius: 8px;
        a {
          color: $color-text-primary;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &:hover {
            background-color: $background-color-secondary;
          }
        }
    }
  }

  .language {
    display: flex;
    border-radius: 12px;
    border: 1px solid #c1c1c1;
    margin: 0;
    gap: 255px;
    align-items: center;
    font-family: $font-family_1;
    font-size: 15px;
    font-weight: 600;

    @include tablet {
      gap: 310px;
    }
  }

  .header {
    &__sign-up {
      font-family: $font-family_1;
      font-weight: 600;
      font-size: 1em;
      padding: 16px 100px;
      background: #f5e341;
      border-radius: 38px;

      @include tablet {
        padding: 20px 63px;
        margin: 0;
      }
    }
    &__nav {
      display: flex;
    }

		&__login {
      display: block;
      padding: 16px 130px;
      font-family: $font-family_1;
      font-weight: 600;
      font-size: 1em;
      border: 1px solid #c1c1c1;
      border-radius: 38px;
      margin: 0;
      margin-bottom: 8px;

      @include tablet {
        padding: 20px 54px;
        margin: 0;
      }
    }
  }

  .arrow {
    margin-left: auto;
  }
}

.block {
  padding: 24px;

  @include tablet {
    padding: 56px 64px;
  }

  @include desktop {
    padding: 150px 110px;
  }
}

.box {
  background: url(../img/cup1.svg) center bottom / 445px auto no-repeat, radial-gradient(29.75% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.2236) 100%), radial-gradient(33.62% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.2838) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.2) 0%, rgba(0, 0, 0, 0.086) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.73) 0%, rgba(0, 0, 0, 0.3139) 100%), radial-gradient(40.36% 95.9% at 50% 70.37%, #ff8642 0%, rgba(0, 0, 0, 0.43) 100%), #0e0e0e;
  width: 405px;
  height: 732px;
  border-radius: 24px;
  border-radius: 24px;
  position: relative;
  padding: 20px;

  &__title {
    color: #ffffff;
    font-weight: 800;

    @include phone {
      font-size: 1.85em;
      line-height: 36px;
      z-index: 2;
    }

    @include tablet {
      font-size: 3em;
      line-height: 54px;
    }
  }

  &__text {
    color: #e0e1e2;
    font-weight: 500;

    @include phone {
      font-size: 0.9375em;
      line-height: 25px;
      letter-spacing: -0.015em;
      text-align: left;
      color: rgba(255, 255, 255, 0.6);
      z-index: 3;
    }

    @include tablet {
      font-size: 1.125em;
    }
  }

  &__btn {
    @include phone {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 32px;
      gap: 8px;
    }

    @include tablet {
      justify-content: flex-start;
      gap: 15px;			
    }
  }

  &__info {
    position: absolute;
    text-align: center;
    bottom: 19%;
    left: 30%;
   
    @include tablet {
      left: 25%;
      padding: 64px;
    }

    @include laptop {
      bottom: 18%;
      left: 31%;
    }

    @include desktop {
      top: 52%;
      left: 55%;
    }
  }

	@include tablet {
    width: 795px;
    height: 904px;
    background: url(../img/cup2.svg) center bottom / cover no-repeat, radial-gradient(29.75% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.2236) 100%), radial-gradient(33.62% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.2838) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.2) 0%, rgba(0, 0, 0, 0.086) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.73) 0%, rgba(0, 0, 0, 0.3139) 100%), radial-gradient(40.36% 95.9% at 50% 70.37%, #ff8642 0%, rgba(0, 0, 0, 0.43) 100%), #0e0e0e;
    padding: 56px 64px;
  }

  @include laptop {
    width: 1008px;
    height: 904px;
    background: url(../img/cup3.svg) center bottom / cover no-repeat, radial-gradient(29.75% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.2236) 100%), radial-gradient(33.62% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.2838) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.2) 0%, rgba(0, 0, 0, 0.086) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.73) 0%, rgba(0, 0, 0, 0.3139) 100%), radial-gradient(40.36% 95.9% at 50% 70.37%, #ff8642 0%, rgba(0, 0, 0, 0.43) 100%), #0e0e0e;
	}

	@include desktop {
    padding: 136px 110px;
    width: 1196px;
    height: 428px;
    background: url(../img/cup4.svg) right bottom / contain no-repeat, radial-gradient(29.75% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.2236) 100%), radial-gradient(33.62% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.2838) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.2) 0%, rgba(0, 0, 0, 0.086) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.73) 0%, rgba(0, 0, 0, 0.3139) 100%), radial-gradient(40.36% 95.9% at 50% 70.37%, #ff8642 0%, rgba(0, 0, 0, 0.43) 100%), #0e0e0e; 
	}
}

.box_text_block {
  @include tablet {
    width: 545px;
  }
}
.text {
  font-family: $font-family_1;
}

.header__wrapper {
  margin: 0 auto;
  max-width: 1440px;

  @include phone {
    padding: 0 16px;
  }

  @include tablet {
    padding: 0 24px;
    margin: 0 auto;
  }

  @include laptop {
    padding: 0 25px;
    margin: 0 auto;
  }

  @include desktop {
    padding: 0 120px;
    margin: 0 auto;
    max-width: 1440px;
	}
}

.google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: $font-family_1;
  font-size: 0.875em;
  font-weight: 600;
  color: $color-text-secondary;

  &-img {
    @include phone {
      height: 24px;
      width: 24px;
    }

    @include tablet {
      height: 32px;
      width: 32px;
    }
  }


  @include tablet {
    font-size: 18px;
  }
}

.start {
  @include phone {
    font-family: $font-family_1;
    font-weight: 600;
    font-size: 0.875em;
    letter-spacing: -0.015em;
    color: $color-text-secondary;
    background: #f5e341;
    border-radius: 38px;
    padding: 15.5px 34%;
  }

  @include tablet {
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 38px;
  }
}

.numbers {
  @include phone {
    font-family: $font-family_1;
    font-weight: 800;
    font-size: 1.4em;
    color: #ffffff;
    letter-spacing: -0.015em;
  }

  @include tablet {
    font-size: 2.54508125em;
  }
}

.wiews {
  @include phone {
    font-family: $font-family_1;
    font-weight: 600;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.9);
  }


  @include tablet {
    font-size: 1.574275em;
  }

}

.link {
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #e0e1e2;
  border-radius: 38px;
  padding: 10px 21.34%;

  @include tablet {
    padding: 15px 20px;
  }
}

.block__img {
  background: url(../img/woman.svg) top center / cover no-repeat;
  height: 426px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 24px;
  margin-top: 24px;

  @include tablet {
    height: 728px;
  }

  @include laptop {
    width: 510px;
    height: 594px;
    margin-top: 0px;
  }

  @include desktop {
    width: 507px;
    height: 628px;
  }
}

.block__name-photo {
  background: rgba(255, 255, 255, 1);
  border-radius: 59px;
  width: 85%;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 21.64px;
  margin-bottom: 6px;

  @include tablet {
    height: 73px;
    margin-bottom: 32px;
  }

  @include laptop {
    margin-bottom: 16px;
  }

  @include desktop {
    margin-bottom: 32px;
  }
}

.name {
  font-family: $font-family_1;
  color: rgba(106, 103, 218, 1);
  font-size: 0.875rem;
  letter-spacing: -0.21px;
  font-weight: 500;
  
  @include tablet {
    font-size: 1.25rem;
  }
}

.block__name {
  padding: 8px 16px;
  background: rgba(106, 103, 218, 0.1);
  border-radius: 27px;

  @include tablet {
    padding: 10px 18.33px;
  }
}

.block__like {
  display: flex;
  gap: 16px;
}

.like {
  display: flex;
  gap: 8px;

}

.coments {
  display: none;

  @include tablet {
    display: flex;
    gap: 8px;
  }
}


.block__like-text {
  font-family: $font-family_1;
  font-weight: 500;
  line-height: 1.5rem;

  @include laptop {
    font-size: 1.25rem;
  }
}

.tab__list-text {
  margin-top: 12px;
}

.tab__list-text {
  list-style: url(../img/fire.svg);
  margin-left: 24px;
  @include laptop {
    width: 453px;
  }
}

.advertis {
  font-family: $font-family_1;
  font-weight: 800;
  font-size: 1.625rem;

  @include tablet {
    font-size: 2.5rem;
    margin-bottom: 24px;
  }
}

.tab__text {
  margin-top: 8px;

  @include tablet {
    margin-bottom: 24px;
  }
}

.wh {
  width: 168px;

  @include tablet {
    width: 246px;
    margin-bottom: 24px;
  }
}


.tab-content {
  padding: 0;
  padding-top: 10px;
  display: none;

  &.current {
    display: inherit;
  }

  @include tablet {
    width: 531px;
  }

  @include laptop {
    width: 490px;
  }

}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 8px;

  @include tablet {
    margin-bottom: 24px;
  }

  @include laptop {
    justify-content: flex-start;
  }

  @include laptop {
    
  }
}

.tab-link {
  color: rgba(63, 63, 73, 1);
  font-family: $font-family_1;
  font-weight: 500;
  font-size: 0.875rem;
  border-bottom: 5px solid rgba(224, 225, 226, 1);
  cursor: pointer;

  &-first {
      padding: 12px 14%;

    @include tablet {
      padding: 12px 18%;
    }

    @include laptop {
      padding: 12px 73.22px;
    }

    @include desktop {
      padding: 12px 81.67px;
    }
  }

  &-second {
      padding: 12px 16%;

    @include tablet {
      padding: 12px 18%;
    }

    @include laptop {
      padding: 12px 58.93px;
    }

    @include desktop {
      padding: 12px 69.43px;
    }
  }

  &.current {
    border-bottom: 5px solid rgba(21, 21, 31, 1);
    cursor: default;
  }

  @include tablet {
    font-size: 1.125rem;
  }
}

.tab__text {
  font-family: $font-family_1;

  @include tablet {
    font-size: 1.125rem;
    line-height: 1.75rem
  }

  @include laptop {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.015rem;
    width: 475px;
  }
}

.tab__text {
  @include laptop {
    font-size: 1.125rem;
    width: 371px;
  }

  @include desktop {
    width: 490px;
  }
}

.second-block {
  width: 445px;
  margin-top: 10px;

  @include tablet {
    width: 923px;
    margin-top: 55px;
  }

  @include laptop {
    display: flex;
    margin-top: 62px;
    width: 1136px;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 110px;
    width: 1196px;
  }
}

.block-text {
  @include laptop {
    margin-top: 24px;
  }

  @include desktop {
    margin-top: 61px;
  }
}

.main {
  padding: 8px;
  
  @include tablet {
    padding: 8px 20px;
  }

  @include laptop {
    padding: 8px;
  }

  @include desktop {
    padding: 8px 12px;
  }
}

.tariffs {
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #e0e1e2;
  border-radius: 38px;
  padding: 16px 24px;
  margin-top: 10px;

  @include tablet {
    padding: 15px 20px;
  }
}

.section {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include laptop {
    margin-bottom: 80px;
  }
}

.robot {
  width: 405px;
  height: 750px;
  border-radius: 24px;
  padding: 24px;
  background: url(../img/robot.svg) center bottom / 455px auto no-repeat, #F5F5F5;

  @include tablet {
    background: url(../img/robot2.svg) center bottom / auto no-repeat, #F5F5F5;
    height: 904px;
    width: 875px;
    padding: 40px;
  }

  @include laptop {
    background: url(../img/robot2.svg) right bottom / auto no-repeat, #F5F5F5;
    width: 1088px;
  }

  @include desktop {
    background: url(../img/robot3.svg) right bottom / auto no-repeat, #F5F5F5;
    width: 1198px;
    height: 700px;
    padding: 121px 109px;
  }
  
  &__btn {
    margin-top: 24px;
    margin-left: -8px;

      @include tablet {
        padding: 20px 40px;
        font-size: 18px;
      }
  }

  &__title {
    @include laptop {
      width: 632px;
    }

    @include desktop {
      width: 492px;
    }
  }

  &__text {
    @include laptop {
      width: 632px;
    }

    @include desktop {
      width: 492px;
    }
  }
}
.separation {
  margin-top: 24px;
  display: flex;
  gap: 12px;

  &__colon {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-top: 24px;
  }

  &__width {
    @include laptop {
      width: 205px;
    }

    @include desktop {
      width: 205px;
    }
  }

  @include tablet {
    gap: 108px;
  }

  @include desktop {
    gap: 58px;
  }
}

.possibilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url(../img/background.svg) center bottom / 453px auto no-repeat, #ffffff;
  width: 453px;
  position: relative;
  padding-bottom: 492px;

  &__text {
    text-align: center;
    margin-top: 12px;

    @include tablet {
      width: 100%;
    }

    @include desktop {
      margin: 12px 25%;
    }
  }

  @include tablet {
    width: 955px;
    background: url(../img/background2.svg) center bottom / 955px auto no-repeat, #ffffff;
  }

  @include laptop {
    width: 1168px;
    background: url(../img/background2.svg) center bottom / 1168px auto no-repeat, #ffffff;
  }

  @include desktop {
    width: 1416px;
    background: url(../img/background3.svg) center bottom / 1416px auto no-repeat, #ffffff;
  }
}

.circle {
  &__name {
    @include laptop {
      width: 163px;
    }
  }

  &__text {
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 0px 0px rgba(163, 163, 163, 0.10), 0px 40px 87px 0px rgba(163, 163, 163, 0.10), 0px 158px 158px 0px rgba(163, 163, 163, 0.09), 0px 356px 214px 0px rgba(163, 163, 163, 0.05), 0px 633px 253px 0px rgba(163, 163, 163, 0.01), 0px 989px 277px 0px rgba(163, 163, 163, 0.00);

    &-find {
      width: 133px;
      padding: 43px 10px;
      position: absolute;
      top: 284px;
      left: 12px;

      @include tablet {
        padding: 27px 46.5px;
        top: 239px;
        left: 41%;
      }

      @include laptop {
        padding: 40px 46.5px;
      }

      @include desktop {
        top: 318px;
      }
    }
    &-money {
      width: 100px;
      padding: 30px 10px;
      position: absolute;
      right: 4px;
      top: 158px;

      @include tablet {
        padding: 22px 44px;
        top: 165px;
        left: 70%;
      }

      @include desktop {
        top: 235px;
        left: 72%;
      }
    }
    &-top {
      width: 89px;
      padding: 30px 17px;
      position: absolute;
      top: 146px;
      left: 1px;

      @include tablet {
        padding: 22px 49.5px;
        top: 366px;
        left: 70%;
      }

      @include laptop {
        padding: 38px 49.5px;
      }

      @include desktop {
        top: 289px;
        left: 58%;
      }
    }
    &-fire {
      width: 100px;
      padding: 24px 8px;
      position: absolute;
      top: 288px;
      left: 181px;

      @include tablet {
        padding: 22px 44px;
        top: 165px;
        left: 16%;
      }

      @include desktop {
        top: 235px;
        left: 13%;
      }
    }
    &-work {
      width: 100px;
      padding: 34px 18px;
      position: absolute;
      top: 401px;
      right: 35px;

      @include tablet {
        padding: 22px 44px;
        top: 366px;
        left: 16%;
      }

      @include desktop {
        top: 286px;
        left: 27%;
      }
    }

  }
}

.img__size {
  width: 24px;
  height: 24px;

  @include tablet {
    width: 56px;
    height: 56px;
  }
}


.search {
  width: 420px;
  margin: 0 7px;

    &__text {
      margin-bottom: 12px;

      @include tablet {
        margin-bottom: 32px;
      }

      @include laptop {
        width: 480px;
      }
    }

  @include tablet {
    width: 955px;
  }

  @include laptop {
    width: 1168px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @include desktop {
    width: 1440px;
    justify-content: space-evenly;
  }

  &__separation {
    @include laptop {
      width: 541px;
    }
  }
}

.block__find {
  width: 181px;
  margin-bottom: 8px;

  @include tablet {
    width: 261px;
    margin-bottom: 16px;
  }
}

.laptop {
  height: 217px;
  border-radius: 24px;
  margin: 0px auto;
  margin-bottom: 25px;
  background: url(/img/laptop.svg) center center / 178px 184px no-repeat, radial-gradient(55.95% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.224) 100%), radial-gradient(42.29% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.282) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.15) 0%, rgba(0, 0, 0, 0.063) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.79) 0%, rgba(0, 0, 0, 0.34) 100%), radial-gradient(127.99% 74.99% at 49.9% 91.29%, rgb(255, 134, 66) 0%, rgba(0, 0, 0, 0.43) 100%), rgb(21, 21, 31);

  &__second {
    display: none;

    @include tablet {
      display: block;
      height: 405px;
      background: url(/img/laptop.svg) center center / 292px 308px no-repeat, radial-gradient(55.95% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.224) 100%), radial-gradient(42.29% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.282) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.15) 0%, rgba(0, 0, 0, 0.063) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.79) 0%, rgba(0, 0, 0, 0.34) 100%), radial-gradient(127.99% 74.99% at 49.9% 91.29%, rgb(255, 134, 66) 0%, rgba(0, 0, 0, 0.43) 100%), rgb(21, 21, 31);
    }

    @include laptop {
      height: 822px;
      width: 425px;
      background: url(/img/laptop.svg) center center / 313px 324px no-repeat, radial-gradient(55.95% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.224) 100%), radial-gradient(42.29% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.282) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.15) 0%, rgba(0, 0, 0, 0.063) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.79) 0%, rgba(0, 0, 0, 0.34) 100%), radial-gradient(127.99% 74.99% at 49.9% 91.29%, rgb(255, 134, 66) 0%, rgba(0, 0, 0, 0.43) 100%), rgb(21, 21, 31);
      margin: 0;
    }

    @include desktop {
      height: 700px;
      width: 507px;
      background: url(/img/laptop.svg) center center / 376px 389px no-repeat, radial-gradient(55.95% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.224) 100%), radial-gradient(42.29% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.282) 100%), radial-gradient(30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.15) 0%, rgba(0, 0, 0, 0.063) 100%), radial-gradient(29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.79) 0%, rgba(0, 0, 0, 0.34) 100%), radial-gradient(127.99% 74.99% at 49.9% 91.29%, rgb(255, 134, 66) 0%, rgba(0, 0, 0, 0.43) 100%), rgb(21, 21, 31);
      margin: 0;
    }
  }

  &__first {
    @include tablet {
      display: none;
    }
  }
}


.block__possibilities {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 20px;

  @include tablet {
    gap: 16px;
  }

  @include laptop {
    align-items: flex-start;
  }
}

.square {
  width: 30px;
  height: 30px;
  border-radius: 7.8px;
  border: 0.6px solid rgba(224, 225, 226, 1);

  &__search {
    background: url(../img/search.svg) center / auto no-repeat,;
    
    @include tablet {
      background-size: 18px;
    }

  }

  &__filter {
    background: url(../img/filter.svg) center / auto no-repeat,;

    @include tablet {
      background-size: 18px;
    } 
  }

  &__download {
    background: url(../img/download.svg) center / auto no-repeat,;

    @include tablet {
      background-size: 18px;
    }
  }

  &__collections {
    background: url(../img/heart2.svg) center / auto no-repeat,;

    @include tablet {
      background-size: 18px;
    }
  }

  &__stats {
    background: url(../img/stats.svg) center / auto no-repeat,;

    @include tablet {
      background-size: 18px;
    }
  }

  @include tablet {
    width: 50px;
    height: 50px;
    border-radius: 13px;
  }

}

.find {
  &__block {
    width: 90%;

    @include tablet {
      width: 550px;
    }

  }

  &__title {
    font-family: $font-family_1;
    color: $color-text-primary;
    font-weight: 600;

    @include tablet {
      font-size: 1.25em;
    }
  }

  &__text {
    color: rgba(122, 122, 122, 1);
    line-height: 25px;

    @include tablet {
      font-size: 1.125em;
      line-height: 28px;
    }
  }
}