$color_1: rgba(21, 21, 31, 1);
$color_2: #7a7a7a;
$color_3: #15151f;
$color_4: #000;
$color_5: #ffffff;
$color_6: #e0e1e2;
$color_7: rgba(255, 255, 255, 0.6);
$color_8: rgba(255, 255, 255, 0.9);
$color_9: black;
$font-family_1: "Inter";
$background-color_1: #fff;
$background-color_2: #f5e341;
$background-color_3: rgba(255, 255, 255, 1);
$background-color_4: #f1f1f1;

body {
	width: 100%;
	height: 100%;
}
.container {
	margin: 0 auto;
	max-width: 1440px;
}
.btn {
	cursor: pointer;
}
.header {
	background-color: $background-color_1;
	height: 64px;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.open {
	.nav__item {
		&:hover {
			background: rgb(255, 255, 255);
			border-radius: 27px;
			padding: 0 0;
			border-radius: 0;
		}
		&:active {
			background: rgb(255, 255, 255);
			border-top: 27px;
			padding: 0 0;
			border-radius: 0;
		}
	}
	.nav__link {
		&:hover {
			background: rgb(255, 255, 255);
			border-radius: 27px;
			color: $color_1;
		}
	}
	.language {
		&:hover {
			border-radius: 23px;
			background: rgba(237, 237, 238, 1);
			padding: 1px 6px;
			border: 1px solid #c1c1c1;
			border-radius: 12px;
			margin: 0;
		}
		padding: 1px 6px;
		&:active {
			border-radius: 23px;
			background: rgba(237, 237, 238, 1);
			padding: 1px 6px;
			border: 1px solid #c1c1c1;
			border-radius: 12px;
			margin: 0;
		}
	}
}
.nav__item {
	&:hover {
		background: rgb(255, 255, 255);
		border-radius: 27px;
		padding: 0px 0px;
	}
}
.nav__link {
	&:hover {
		background: rgba(245, 227, 65, 1);
		padding: 10px 12px;
		border-radius: 27px;
		color: $color_1;
	}
	padding: 10px 12px;
	font-family: $font-family_1;
	font-weight: 600;
	font-size: 1em;
	color: $color_2;
	text-decoration: none;
	&:active {
		background: rgba(234, 203, 19, 1);
		padding: 10px 12px;
		border-radius: 27px;
	}
}
.language {
	&:hover {
		border-radius: 23px;
		background: rgba(237, 237, 238, 1);
		padding: 10px 10px;
	}
	&:active {
		border-radius: 23px;
		background: rgba(237, 237, 238, 1);
		padding: 10px 10px;
	}
	padding: 10px 10px;
	background: rgba(255, 255, 255, 1);
	border: none;
	color: $color_3;
	font-family: $font-family_1;
	font-size: 1em;
	font-weight: 600;
	margin-left: auto;
}
.lang-w {
	font-family: $font-family_1;
	font-weight: 500;
	font-size: 1em;
}
.header__sign-up {
	&:hover {
		background: rgba(250, 226, 26, 1);
	}
	&:active {
		background: rgba(234, 203, 19, 1);
	}
	margin-left: 8px;
	padding: 16px 24px;
	border-radius: 38px;
	background-color: $background-color_2;
	font-family: $font-family_1;
	font-weight: 600;
	font-size: 1em;
}
.header__login {
	&:hover {
		border: 1px solid #0c0c0c;
	}
	&:active {
		border: 0;
		background: rgba(237, 237, 238, 1);
		border: 1px solid rgba(237, 237, 238, 1);
	}
}
.header__logo {
	font-size: 3em;
}
.header__burger {
	background-image: url("../img/bg-menu.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 24px;
	height: 16px;
}
.header__lang {
	margin-left: auto;
}
.nav {
	margin-left: 40px;
}
.nav__list {
	display: flex;
	align-items: center;
}
.btn-login {
	padding: 14px 21.5px;
	border-radius: 38px;
	border: 1px solid #c1c1c1;
	color: $color_4;
	background-color: $background-color_1;
	font-family: $font-family_1;
	font-size: 1em;
	font-weight: 600;
	display: flex;
	align-items: center;
	margin-left: 30px;
}
.section {
	display: flex;
	justify-content: center;
}
.item {
	background: radial-gradient( 29.75% 70.68% at 73.76% 95.59%, rgba(255, 235, 51, 0.52) 0%, rgba(0, 0, 0, 0.2236) 100% ) , radial-gradient( 33.62% 79.88% at 51.09% 86.4%, rgba(255, 134, 66, 0.66) 0%, rgba(0, 0, 0, 0.2838) 100% ) , radial-gradient( 30.14% 71.61% at 68.54% 94.66%, rgba(106, 103, 218, 0.2) 0%, rgba(0, 0, 0, 0.086) 100% ) , radial-gradient( 29.17% 69.32% at 31.85% 96.96%, rgba(97, 71, 255, 0.73) 0%, rgba(0, 0, 0, 0.3139) 100% ) , radial-gradient( 40.36% 95.9% at 50% 70.37%, #ff8642 0%, rgba(0, 0, 0, 0.43) 100% ), #0e0e0e;
}
.text {
	font-family: $font-family_1;
}
.item__title {
	color: $color_5;
	font-weight: 800;
}
.item__text {
	color: $color_6;
	font-weight: 500;
}
@media only screen and (min-width: 320px) {
	.header__login {
		display: none;
	}
	.nav {
		display: none;
	}
	.dropdown {
		display: none;
	}
	.sidebar {
		display: none;
		.nav {
			margin: 0;
		}
		.nav__link {
			padding-left: 24px;
			font-family: $font-family_1;
			font-weight: 600;
			font-size: 1em;
			color: $color_2;
			text-decoration: none;
		}
		.nav__list {
			display: flex;
			flex-direction: column;
			gap: 0;
		}
		.nav__item {
			border-bottom: 1px solid #e0e1e2;
			width: 345px;
			line-height: 52px;
			height: 52px;
		}
		.button {
			display: flex;
			flex-direction: column-reverse;
			gap: 8px;
		}
		.header__login {
			display: block;
			padding: 16px 130px;
			font-family: $font-family_1;
			font-weight: 600;
			font-size: 1em;
			border: 1px solid #c1c1c1;
			border-radius: 38px;
			margin-bottom: 8px;
		}
		.language {
			border: 1px solid #c1c1c1;
			border-radius: 12px;
			margin: 0;
			font-family: $font-family_1;
			font-weight: 600;
			font-size: 15px;
			display: flex;
			align-items: center;
			gap: 225px;
		}
		.header__sign-up {
			font-family: $font-family_1;
			font-weight: 600;
			font-size: 1em;
			padding: 16px 100px;
			background: #f5e341;
			border-radius: 38px;
		}
		.header__nav {
			display: flex;
		}
		.arrow {
			margin-left: auto;
		}
	}
	.open {
		.section {
			height: 100%;
			width: 100%;
			background: #7a7a7a;
			z-index: 2;
		}
		.sidebar {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 70px;
			right: 15px;
		}
		.nav__menu {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 345px;
			height: 422px;
			background: #ffffff;
			z-index: 6;
			border-radius: 12px;
		}
		.header__burger {
			background-image: url(../img/close.svg);
			height: 24px;
			width: 24px;
		}
	}
	.container {
		padding: 0 16px;
	}
	.header__sign-up {
		margin-left: auto;
	}
	.header__burger {
		margin-left: 15px;
	}
	.item {
		width: 359px;
		height: 732px;
		border-radius: 24px;
		width: 359px;
		height: 732px;
		border-radius: 24px;
		margin-top: 8px;
	}
	.item__title {
		font-size: 1.875em;
		line-height: 36px;
		margin-left: 24px;
		margin-top: 24px;
		z-index: 2;
	}
	.item__text {
		font-size: 0.9375em;
		line-height: 25px;
		letter-spacing: -0.015em;
		text-align: left;
		color: $color_7;
		margin: 8px 73px 32px 24px;
		width: 262px;
		height: 75px;
		z-index: 3;
	}
	.item__btn {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.goggle {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 11px 68.5px;
		gap: 8px;
		background: #ffffff;
		border: 1px solid #e0e1e2;
		border-radius: 38px;
		font-family: $font-family_1;
		font-size: 0.875em;
		font-weight: 600;
		color: $color_3;
		margin-top: 8px;
	}
	.google-img {
		height: 24px;
		width: 24px;
	}
	.btn {
		z-index: 1;
	}
	.start {
		font-family: $font-family_1;
		font-weight: 600;
		font-size: 0.875em;
		letter-spacing: -0.015em;
		color: $color_3;
		background: #f5e341;
		border-radius: 38px;
		padding: 15.5px 116.3px;
	}
	.item__cup {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.cup2 {
		display: none;
	}
	.cup3 {
		display: none;
	}
	.cup4 {
		display: none;
	}
	.cup1 {
		position: relative;
		top: -125px;
	}
	.numbers {
		font-family: $font-family_1;
		font-weight: 800;
		font-size: 1.3684875em;
		color: $color_5;
		letter-spacing: -0.015em;
		position: relative;
		top: -290px;
		left: 96px;
	}
	.wiews {
		font-family: $font-family_1;
		font-weight: 600;
		font-size: 0.84664875em;
		color: $color_8;
		position: relative;
		top: -270px;
		right: 65px;
	}
}
@media only screen and (min-width: 768px) {
	.header__login {
		display: flex;
		margin-left: auto;
	}
	.container {
		padding: 0 24px;
		margin: 0 auto;
	}
	.header__sign-up {
		margin-left: 8px;
	}
	.item {
		width: 728px;
		height: 1016px;
	}
	.item__title {
		font-size: 3em;
		margin-left: 64px;
		margin-top: 56px;
		line-height: 54px;
	}
	.open {
		.nav__menu {
			width: 437px;
			height: 471px;
		}
	}
	.sidebar {
		.language {
			font-size: 15px;
			gap: 310px;
		}
		.header__sign-up {
			padding: 20px 63px;
			margin: 0;
		}
		.header__login {
			padding: 20px 54px;
			margin: 0;
		}
		.nav__item {
			width: 437px;
			line-height: 64px;
			height: 64px;
		}
		.button {
			flex-direction: row-reverse;
			gap: 8px;
			align-items: center;
		}
	}
	.item__text {
		font-size: 1.125em;
		margin-left: 64px;
		width: 429px;
		height: 84px;
	}
	.item__btn {
		justify-content: flex-start;
		gap: 15px;
		margin-left: 64px;
	}
	.start {
		padding: 15px 40px;
		font-size: 18px;
		border-radius: 38px;
	}
	.goggle {
		padding: 15px 20px;
		font-size: 18px;
		border-radius: 38px;
		margin-top: 0px;
	}
	.google-img {
		height: 32px;
		width: 32px;
	}
	.cup1 {
		display: none;
	}
	.cup2 {
		display: flex;
		position: relative;
		top: -239px;
	}
	.numbers {
		top: -533px;
		left: 180px;
		font-size: 2.54508125em;
	}
	.wiews {
		top: -500px;
		right: 115px;
		font-size: 1.574275em;
	}
}
@media only screen and (min-width: 1024px) {
	.container {
		padding: 0 25px;
		margin: 0 auto;
	}
	.header__wrapper {
		justify-content: normal;
	}
	.language {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	.header__nav {
		display: flex;
	}
	.header__login {
		margin-left: 30px;
	}
	.dropdown {
		margin-left: auto;
		position: relative;
		display: inline-block;
		&:hover {
			.dropdown-content {
				display: block;
			}
		}
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: $background-color_3;
		width: 131px;
		z-index: 1;
		border: 1px solid rgba(224, 225, 226, 1);
		border-radius: 8px;
		a {
			color: $color_9;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			&:hover {
				background-color: $background-color_4;
			}
		}
	}
	.header__burger {
		display: none;
	}
	.item {
		width: 1008px;
		height: 1016px;
	}
	.item__title {
		width: 545px;
		height: 108px;
	}
	.cup2 {
		display: none;
	}
	.cup3 {
		display: flex;
		position: relative;
		top: -161px;
	}
	.numbers {
		top: -423px;
		left: 180px;
	}
	.wiews {
		top: -390px;
		right: 115px;
	}
}
@media only screen and (min-width: 1440px) {
	.cup3 {
		display: none;
	}
	.container {
		padding: 0 120px;
		margin: 0 auto;
		max-width: 1440px;
	}
	.cup4 {
		display: flex;
		position: relative;
		top: -432px;
		left: 324px;
	}
	.item__text {
		margin-left: 109px;
	}
	.item__title {
		margin-top: 136px;
		margin-left: 109px;
	}
	.item__btn {
		margin-left: 109px;
	}
	.item {
		width: 1416px;
		height: 700px;
	}
	.wiews {
		left: 286px;
		top: -690px;
	}
	.numbers {
		top: -360px;
		left: -250px;
	}
}